@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@1&family=Square+Peg&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.encabezado {
  position: fixed;
  top: 0;
  padding: 0;
  width: 100% !important;
  z-index: 1000;
}
.encabezado .navbar {
  background-color: #a6d8be !important;
}
.encabezado .navbar .logobar {
  padding-bottom: 5px;
}
.encabezado .navbar .navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: #346b55;
}
.encabezado .navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.encabezado .navbar-nav .nav-link {
  color: #346b55;
  font-family: "Playfair Display", serif;
}

.index {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.index .pres {
  display: inline-block;
  width: 50vw;
  padding-bottom: 50px;
  font-size: 25px;
  font-family: "Playfair Display", serif;
}
.index .sye {
  width: auto;
  margin-right: 50px;
  border-radius: 10px;
}
.index .sabmas {
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
}

.servs {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.servs .accordion .card {
  background-color: transparent;
}
.servs .accordion .card .card-header {
  display: flex;
  justify-content: center;
}
.servs .accordion .card .card-header .mb-0 {
  font-family: "Playfair Display", serif;
}
.servs .accordion .card .card-header .mb-0 .btn {
  text-decoration: none;
}
.servs .accordion .card .card-header .card-body {
  display: flex;
  text-align: auto;
}

.noso {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.noso .container .header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #346b55;
}
.noso .container .tarjetas {
  display: flex;
  justify-content: space-around;
}
.noso .container .tarjetas .card {
  font-family: "Playfair Display", serif;
  background-color: transparent;
  box-shadow: 0 10px 20px;
}
.noso .container .tarjetas .card .profile {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.noso .container .tarjetas .card .profile img {
  border-radius: 20px;
}

.cont {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.cont .h1-responsive {
  font-family: "Dancing Script", cursive;
  color: #346b55;
  font-size: 60px;
}
.cont .subti {
  font-family: "Playfair Display", serif;
}
.cont .btn {
  background-color: #346b55;
}

.pregunte {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.pregunte .accordion .card {
  background-color: transparent;
}
.pregunte .accordion .card .card-header {
  display: flex;
  justify-content: center;
}
.pregunte .accordion .card .card-header .mb-0 {
  font-family: "Playfair Display", serif;
}
.pregunte .accordion .card .card-header .mb-0 .btn {
  text-decoration: none;
}
.pregunte .accordion .card .card-header .card-body {
  display: flex;
  text-align: auto;
}

.login {
  background-color: #d6cbbc !important;
  height: 100%;
  width: 100%;
  padding: 150px 150px 50px 150px;
}
.login .formu {
  padding: 20px 300px;
}
.login .formu button {
  background-color: #346b55;
}

.pie {
  background-color: #a6d8be;
}
.pie .list-unstyled {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.pie .logopie {
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}
.pie a {
  color: #346b55;
}
.pie .piered {
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .index .container {
    display: flex;
    justify-content: center;
  }
  .index .container .row {
    display: flex;
    flex-direction: column-reverse !important;
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    padding-top: 50px;
  }
  .index .container .row p {
    font-size: 15px;
    display: flex;
    justify-content: center;
  }
  .index .container .row .sabmas a {
    font-size: 12px !important;
  }
}/*# sourceMappingURL=estilo.css.map */