*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
// Fuentes
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Playfair+Display:ital@1&family=Square+Peg&display=swap');
// Colores
$color1: #a6d8be;
$color2: #d6cbbc;
$color3: #346b55;
// Fuentes
$fuente1:'Dancing Script', cursive;
$fuente2: 'Playfair Display', serif;
$fuente3: 'Square Peg', cursive;

// empieza header
.encabezado{
    position:fixed;
    top: 0;
    padding: 0;
    width: 100% !important;
    z-index: 1000;
    
    .navbar{
        background-color: $color1 !important; 
        
        .logobar{
            padding-bottom: 5px;
        }
        
        .navbar-brand{
            font-family: $fuente1;
            font-size: 40px;
            color: $color3;
        }
    }
    .navbar-nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .nav-link{
            color: $color3;
            font-family: $fuente2;
        }
    }
}
// empieza index
.index{
    background-color: $color2 !important;
    height: 100%;
    width: 100%;
    padding: 150px 150px 50px 80px;
    .pres{
        display: inline-block;
        width: 50vw;
        padding-bottom: 50px;
        font-size: 25px;
        font-family: $fuente2;
    }
    .sye{
        width: auto;
        margin-right: 50px;
        border-radius: 10px;
    }
    .sabmas{
        font-size: 15px;
        padding: 5px;
        border-radius: 10px;
    }
}
.pie{
    background-color: $color1;
    .logopie{
        font-family: $fuente1;
        font-size: 30px;
    }
    a{
        color: $color3;
    }
    .piered{
        font-size: medium;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

}

@media screen and (min-width: 320px) and (max-width: 760px){
    
    .index{
        .container{
            display: flex;
            justify-content: center;
            .row{
                display: flex;
                flex-direction: column-reverse !important;
            }
        }
    }
}



